@import url('buttons.css');
@import url('underline.css');

body{
  margin: 0;
  padding: 0;
  background-image: url("../images/ag.jpg");
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(255, 153, 0, 0.8);
  padding: 30px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  margin-top: 12px;
  color: rgb(255, 255, 255);
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: transform .7s ease-in-out;
}
.box-img:hover {
  transform: rotate(-7deg);
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 300;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #2081ff;
}
